.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 4px;
    background-color: #191c20;
    color: white;

    .title {
        font-family: Lato;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 4px;
        margin: 5px;
    }
}

